
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Shadow at the top */
  }