.user-recipes-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  
  .recipe-card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px; 
  }
  
  .recipe-card h1 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .recipe-card h2 {
    font-size: 1.5rem;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .recipe-card p {
    color: #999999;
    line-height: 1.5;
  }
  
  .recipe-card img {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .recipe-card p.tags {
    margin-top: 10px;
  }
  
  .recipe-card p.tags span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #666666;
  }