.recipe-card {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.recipe-card h1,
.recipe-card h2 {
  color: #333333;
  margin-bottom: 10px;
}

.recipe-card h1 {
  font-size: 2rem;
}

.recipe-card h2 {
  font-size: 1.5rem;
  color: #666666;
}

.recipe-card p {
  color: #999999;
  line-height: 1.5;
}

.recipe-card img {
  max-width: 100%; 
  max-height: 200px;
  width: auto;
  height: auto;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
}

.recipe-card p.tags {
  margin-top: 10px;
}

.recipe-card p.tags span {
  background-color: #f0f0f0;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #666666;
}

.recipe-details {
  padding: 10px;
}

.recipe-name {
  margin: 0;
  font-size: 18px;
  color: black;
}

.recipe-author {
  margin: 5px 0;
  font-style: italic;
}

.recipe-tags {
  margin: 5px 0;
}

.recipe-description {
  margin: 10px 0;
}