.project-slide {
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease;
  height: 60vh;
}

.project-slide:focus-within {
  opacity: 1;
}

.carousel .slide {
  display: flex;
  justify-content: center;
}

.carousel .carousel .slide {
  width: 100%;
}

.carousel .slide:not(.center) {
  transform: scale(0.9);
}

.carousel .carousel-status {
  display: none;
}