.carousel-wrapper {
    max-width: 1250px;
    margin: 0 auto;
  }
  
  .carousel-wrapper {
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .carousel-wrapper img {
    /* width: 100%; */
    height: auto;
    border-radius: 5px;
  }