.user-profile-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-top: 10%;
}

.user-profile-container a {
  display: inline-block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.user-profile-container a:hover {
  text-decoration: underline;
}

.user-profile-container img#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

.user-profile-container h1 {
  color: #333333;
  font-size: 2rem;
  margin-bottom: 10px;
}

.user-profile-container p {
  color: #666666;
  font-size: 1rem;
  line-height: 1.5;
}

.user-profile-container p.bio {
  padding: 20px;
  max-width: 100%;
  word-wrap: break-word;
}
