.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373A40;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 40px;
  z-index:1000;
  opacity: .5;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFFFEC;
  flex: 1;
}



.search-bar {
  flex: 3;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  width: 75%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.search-bar button {
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-left: -2.7%;
  opacity: .95;
  border-radius: 10px
}


.search-button img {
  width: 20px;
  height: auto;
  margin-right:10px;
}


.menu ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.menu ul li {
  margin-right: 100px;
}

.menu ul li a {
  text-decoration: none;
  color: #FFFFEC;
  font-weight: bold;
  font-size:2rem;
  margin: 0 10px;
}

.menu ul li a:hover {
  color: #007bff;
}
