.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373A40;
  display: flex;
  justify-content: space-between; /* Space between logo and menu */
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  z-index: 1000;
  opacity: 0.9; /* Slightly increased opacity for better visibility */
}

/* Logo styling */
.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  opacity: 1;
}

/* Search bar styles */
.search-bar {
  flex: 3;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  width: 100%; /* Ensure the input takes up available space */
  max-width: 300px; /* Limit the maximum width for better control */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.search-bar button {
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-left: -2.7%; /* Adjust as needed */
  opacity: 0.95;
  border-radius: 10px;
}

.search-button img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

/* Menu styles */
.menu ul {
  display: flex;
  list-style-type: none;
  padding-right: 50px;
  margin: 0;
}

.menu ul li {
  margin: 0 100px; /* Adjust spacing for list items */
}

/* Link styling */
.menu ul li a {
  text-decoration: none;
  color: #FFFFEC;
  font-weight: bold;
  font-size: 1.5rem; /* Adjust font size as needed */
  transition: color 0.3s; /* Smooth transition for color change */
}

.menu ul li a:hover {
  color: #007bff;
}