.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373A40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  z-index: 1000;
  opacity: 0.9; 
}

/* Logo styling */
.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.search-bar button {
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-left: -2.7%; 
  opacity: 0.95;
  border-radius: 10px;
}

.search-button img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

/* Menu styles */
.menu ul {
  display: flex;
  list-style-type: none;
  padding-right: 50px;
  margin: 0;
}

.menu ul li {
  margin: 0 100px; 
}

/* Link styling */
.menu ul li a {
  text-decoration: none;
  color: #FFFFEC;
  font-weight: bold;
  font-size: 1.5rem; 
  transition: color 0.3s; 
}

.menu ul li a:hover {
  color: #007bff;
}